[2019-01-09 16:43] dillingham opened #1 "Add ->reload() for page refresh"
Currently you manually have to refresh the page to see if any changes took place during a ajax button event. Adding a window.reload would be one approach or something with vue router

[2019-01-12 15:43] dillingham commented on #1
https://github.com/dillingham/nova-button/releases/tag/0.0.3

[2019-01-12 15:43] #1 closed

[2019-01-12 18:41] dillingham opened #3 "add loadingText() for long requests"
If your listener takes awhile to execute, the button doesn't give much indication currently.

I think it would be nice to add `Button::make('Notify')->loadingText('Notifying..')`

And with `->reload()` it might be smart to setTimeout 200ms to avoid flashing text for quick listeners

[2019-01-12 19:18] dillingham opened #4 "add separate package for nova-button-toolbar"
@alexbowers provided a nice workaround for adding buttons in the toolbar
However I think it might be dangerous to override template files without really being explicit.
So I think I will make a package that users install if they want that ability
https://github.com/dillingham/nova-button/tree/feature/toolbar-buttons

[2019-01-13 03:26] dillingham opened #5 "two step confirmation option"
`->confirm('Are you really sure?')`

[2019-01-13 03:55] dillingham commented on #5
![cancel](https://user-images.githubusercontent.com/29180903/51081418-1ea0de80-16bd-11e9-9fa2-1521ece449a5.png)
![example](https://user-images.githubusercontent.com/29180903/51081419-21033880-16bd-11e9-9e77-c95d9e65e9a9.png)

[2019-01-15 00:15] flxsource opened #6 "Retain table cells for non-visible buttons"
If you set a visibility condition on a button, if there are any rows where no button matches (and, I assume, differing numbers of buttons) the columns become misaligned (See screenshot). Would it be better for non-visible buttons to product an empty cell rather than nothing at all?

![image](https://user-images.githubusercontent.com/1785446/51149561-8b051480-185a-11e9-9901-456710d089ff.png)

Curre

[2019-01-15 01:37] dillingham commented on #6
@flxsource thanks, I'll be releasing a fix for this soon that will include an empty cell for index

[2019-01-15 23:04] #6 closed

[2019-01-15 23:31] dillingham commented on #5
added in 1.0

[2019-01-15 23:31] #5 closed

[2019-01-15 23:31] dillingham commented on #3
added in 1.0

[2019-01-15 23:31] #3 closed

[2019-01-16 02:26] dillingham opened #7 "need unique id for queue"
When multiple buttons are on a row & ->reload() is set, the id of the row may be treated as complete even though it was for a different button on that row, if simultaneous.
Solution queue.add(attribute + '-' + resourceId) to make unique.

[2019-01-25 15:40] ardit-okshtuni-atis opened #8 "Add parameter to event"
Hi, can i add parameter to custom event that i call for example: $this->id
so in listener i can access that resource and modify or do my actions?
Thanks a lot :) awesome package

My code

Button::make('Activate')
->event('App\Events\ActivateUser', $this->id)
->visible($this->status == 0)
->confirm('Are you sure?')
->style('success-outline'),

Button::make('Deactivate')
->event(new DeactivateUser($

[2019-01-25 15:57] dillingham commented on #8
@ardit-okshtuni-atis Hey thanks, and for the idea.

Currently that event will receive $resource $key
So in your `DeactivateUser($resource, $key)`
You can access the user id like so `$this->resource->id`

Check out this example https://github.com/dillingham/nova-button#example

[2019-01-25 15:59] dillingham commented on #8
The events are triggered via ajax.
So passing parameters isn't an option currently

[2019-01-25 15:59] #8 closed

[2019-01-25 21:08] arditokshtuni opened #9 "Event not working with default and custom events"
My code for custom event
------------------------------
EventServiceProvider.php
------------------------------
'App\Events\ActivateUser' => [
            'App\Listeners\ActivateUserListener',
        ],
        'App\Events\DeactivateUser' => [
            'App\Listeners\DeactivateUserListener',
        ],
        '\NovaButton\Events\ButtonClick' => [
            'App\Listeners\NovaButtonListener'

[2019-01-25 22:46] arditokshtuni commented on #9
The app works fine but the Action always return Failed

[2019-01-25 22:50] dillingham commented on #9
@arditokshtuni no its not. You need to accept the $resource,$key

[code]

[2019-01-25 22:59] arditokshtuni commented on #9
@dillingham i just tried and it is not working :(
even with default Event and with this Field in my User Resource
`Button::make('Deactivate', 'deactivate-user')->visible($this->status == 1)->confirm('Are you sure?')->style('danger-outline'),
Thanks for your response :)
`

[2019-01-25 23:04] dillingham commented on #9
@arditokshtuni triple check your code 👍

[2019-01-25 23:06] arditokshtuni commented on #9
So the error is in package? @dillingham

[2019-01-25 23:07] dillingham commented on #9
triple check **your code**, this is not a bug in the package. take care

[2019-01-25 23:10] arditokshtuni commented on #9
ok thanks, if you will provide a full example of field/event/listener in documentation it will be better not only for me but all others, thanks, great work

[2019-01-26 22:59] arditokshtuni commented on #9
@dillingham the error was that i was running my app with apache virtualhost like: website.test and when i served with php artisan serve, it works fine. So maybe there is a bug in package for the root url, for example we should define a .env variable for this package which will be used in your package. I am just suggesting that the requests should go in relative path and not absolute path.

[2019-01-26 23:43] arditokshtuni commented on #9
yes i saw that code but why is not working with virtual host? in my network i do not even see the origin header attribute that is in request when laravel app uses artisan:serve
My .env
APP_URL=http://localhost

I tried:
APP_URL=http://localhost/myapp/public
APP_URL=http://myapp.test

And it is not working with these three with virtual host

Thanks for reply, @dillingham

[2019-01-26 23:44] dillingham commented on #9
Again, this has nothing to do with this package.
Please ask on discord or something
https://discord.gg/ftpgm2

[2019-01-28 15:11] m-lotze opened #10 "[Enhancement] Button as a switch for boolean field"
First of all this is an awesome package!

What i would like to see is an option to use it as a switch for a boolean field on the resource, e.g.:

[code]

and in ButtonController maybe something like this:

[code]

By sending back the new value the frontend than could change without reloading the whole page.

[2019-01-28 19:53] dillingham commented on #10
Interesting idea!

I can see switch or toggle being useful with this approach

Let me think on it though

[2019-01-28 22:38] antonioribeiro opened #11 "Exception: NovaButton\Providers\FieldServiceProvider not found"
Not making much sense, because composer.json is referencing a file that's not present in the package tree:

![image](https://user-images.githubusercontent.com/3182864/51871053-78034180-233c-11e9-8e0d-a60be9e269cf.png)

[2019-01-29 16:01] dillingham commented on #11
@antonioribeiro thanks, fixed & released

[2019-01-29 16:01] #11 closed

[2019-01-29 16:03] antonioribeiro commented on #11
Nice, thank you!

[2019-02-04 03:52] dillingham opened #12 "Add Button::make()->attach('User') navigation"
It would be handy to add attach() like create and edit etc

[2019-02-04 10:56] Dontorpedo opened #13 "405 Method Not Allowed Http Exception"
click on the button returns

at first:

SyntaxError: JSON.parse: unexpected end of data at line 1 column 1 of the JSON data

than

405 Method Not Allowed Http Exception

i tried to use the NovaButton\Events\ButtonClick and also a custom event, but seems not to work.. what could be the problem?

[2019-02-04 15:11] dillingham commented on #13
@dontorpedo can you show me the button code and the event listener for the custom event?

[2019-02-04 17:00] Dontorpedo commented on #13
Buttoncode

´´´´
            Button::make('Paid', 'paid')
                ->event('App\Events\UnpaidInvoices')
                ->successText('Done!')
                ->style('primary-outline')
                ->visible($this->invoice_paid == false),
´´´´

listener

´´´´
<?php

namespace App\Listeners;
use App\Events\UnpaidInvoices;

class MarkAsPaid
{
    public function handle(UnpaidInvoices $eve

[2019-02-04 17:05] dillingham commented on #13
@Dontorpedo and you're on the latest version 1.0.3 ?

Thanks for the info, so far nothing seems wrong with your implementation.

[2019-02-07 04:25] joeelia opened #14 "Custom Fail Event Not Working in Event Listener"
I have an API that I am calling when clicking the NovaButton and the Event Listener runs, but im making the API fail and the NovaButton still says the click action was successful. This is happening even when I use a try like this..

[code]

[2019-02-07 04:54] dillingham commented on #14
@joeelia you’re catching the exception.

If the listener throws an exception, the button will indicate and display the error

[2019-02-07 04:54] #14 closed

[2019-02-14 16:46] ahmedkandel opened #15 "Navigation to filter"
Hi Brian,

As an enhancement to the navigation links routing to index with a filter may be as following:

In User resource a button to navigate to Order resource with UserOrders filter:

`Button::make($this->orders->count() . ' Orders')->index('App\Nova\Order')->filter('App\Nova\Filters\UserOrders', $this->id)`

then do json_encode and base64_encode to generate the filter URI.

Thanks

[2019-02-15 10:15] ppisecky commented on #13
@Dontorpedo

Do you have your routes cached? Might be that you need to run `php artisan route:clear`

[2019-02-15 15:31] dillingham commented on #15
Yeah I can see that being very useful, multiple filters too.. I'll look into it

[code]

Sidenote, on index, the ->count() will create a n+1 / eagerload problem

[2019-02-15 16:06] dillingham commented on #10
While definitely a cool idea, for now I think it's best to keep it as a traditional button.

It would clash with some things like style configs and such.

Thanks for proposing the idea though!

[2019-02-15 16:06] #10 closed

[2019-02-15 16:09] #4 closed

[2019-02-18 08:29] ahmedkandel commented on #15
Will be perfect. Thanks, Brian for the sidenote.

[2019-02-18 14:04] dillingham commented on #13
I’ll re-open when more info is provided :)

[2019-02-18 14:04] #13 closed

[2019-02-18 18:02] #15 closed

[2019-02-18 18:02] dillingham commented on #15
Will be included in an upcoming release, thanks @dkulyk !

[2019-02-22 10:55] FrittenKeeZ opened #18 "FR: Prompt option similar to action fields"
Like the native javascript `prompt`, it would be awesome to have this option, where you can supply any fields in a callback like action fields. If no callback is defined (or empty), a default text field should be provided.
[code]

[2019-02-22 11:04] niladam commented on #18
Personally i think this would be waaay better:

[code]

[2019-02-22 12:53] dillingham commented on #18
Nice idea! Yeah I can definitely see the usefulness of being able to add fields for the button. It is almost like actions in that ability.

I was planning on adding action support to this package and this may overlap and provide identical functionality.

Button::make(‘Text’)->action(ActionWithFields::class),

I’m going to think on this a bit
But thank you for pitching the idea :)

[2019-02-22 16:19] klepak commented on #12
I see you already have a branch going for this, but just thought I'd add this in case it is useful.

I needed this functionality, so implemented a quick fix.

[code]

[code]

[code]

[2019-02-22 16:34] dillingham commented on #12
@klepak ah thanks! Yeah I was trying to work it out so the resource the field was within was already associated and we only would declare the relation. But I also like the fact that your approach can be used anywhere.

[2019-02-22 17:25] klepak commented on #12
@dillingham I think both approaches are valuable. In my case I wanted to add a link to edit the relationship between resource B and C from the details page of resource A. Depends on how customizable you need it I guess. Maybe try to auto-detect if no explicit parameters are provided?

[2019-03-04 05:21] loveyuxiao opened #19 "can reload the selected field not reload whole page after event sucessed?"
can reload the selected field not reload whole page after event sucessed?

[2019-03-04 05:22] loveyuxiao commented on #19
just like nova action?

[2019-03-07 11:15] FrittenKeeZ opened #20 "Buttons with several words don't wrap in Safari"
Adding `whitespace-no-wrap` to all styles fixes this issue.

[2019-03-07 15:00] dillingham commented on #20
@FrittenKeeZ thanks, I'll add that in the next release

[2019-03-25 14:09] hubertnnn opened #22 "Button using icon [enhancement]"
Would be nice to add the ability to set the button to be an icon (similar to show, edit and delete buttons in nova)

I would imagine it to be configured like so:
`Button::make('Download')->icon('fa-download'),`

When using icon version it could use text as the buttons tooltip.

[2019-03-25 15:21] dillingham commented on #22
@hubertnnn I managed to do an svg icon like so

[code]

`icon.svg.blade.php`

The problem with fa-download is it assumes that fontawesome is installed
And Im not sure I want to add that overhead to this package

[2019-03-25 16:14] hubertnnn commented on #22
Well, I was thinking more like keep the burden of installing the specific font to the user, and just allow creation of custom image icons.

Since both glyphicons and font awesome (and probably other icon providers i never used before)
use similar format of `<span class="<provider> <provider>-<image>"`, allowing creation of icon button could just assume that whatever was in icon parameter is the cl

[2019-03-26 16:06] kevinab opened #23 "Trying to figure out custom event listner"
I added to my event service provider:

`'\NovaButton\Events\ButtonClick' => [
            'App\Listeners\CloseFeedbackRequest',
        ]`

I have the following  listener:

`
namespace App\Listeners;

use \NovaButton\Events\ButtonClick;

class CloseFeedbackRequest
{

    /**
     * Create the event listener.
     *
     * @return void
     */
    public function __construct()
    {
        //

[2019-03-26 17:18] dillingham commented on #23
$this->$resource = should be
$this->resource =

[2019-03-26 17:18] #23 closed

[2019-03-26 17:27] kevinab commented on #23
I corrected those and it still doesn't work. ... It doesn't look like the handler is getting called.

[2019-03-26 17:33] dillingham commented on #23
Make sure you’ve registered the listener per the laravel docs

[2019-03-26 17:35] kevinab commented on #23
is this not the correct way to register the listner?
`namespace App\Providers;

use Illuminate\Support\Facades\Event;
use Illuminate\Auth\Events\Registered;
use Illuminate\Auth\Listeners\SendEmailVerificationNotification;
use Illuminate\Foundation\Support\Providers\EventServiceProvider as ServiceProvider;

class EventServiceProvider extends ServiceProvider
{
    /**
     * The event listener mappi

[2019-03-26 17:42] dillingham commented on #23
CloseFeedbackRequest Is your event
ButtonClick is your registered event.

Good luck! :)

[2019-03-26 17:47] kevinab commented on #23
Just trying to follow the example in your documentation but your documentation does not include the registration of the eventlistener ... that would be helpful to add.

[2019-03-26 17:50] dillingham commented on #23
I linked to the docs on how to do it.
https://laravel.com/docs/5.7/events

You’re welcome!!

[2019-04-01 10:10] 4n70w4 opened #24 "Can download file on button click?"
Hi! Is this feature provided? I can not understand how to do it.

[2019-04-01 10:45] 4n70w4 commented on #24
I think that I need to use the link() method and refer to the controller that will generate the file and give it to the user.

[2019-04-09 15:40] krunaldevs commented on #13
My Resource File

[code]

My Event Class

[code]

My Listener File

[code]

After clicking on button it will generate url like this

![image](https://user-images.githubusercontent.com/47715249/55814118-92f7ec00-5b0b-11e9-98a9-39e7368b6fb2.png)

This is error getting from the Laravel

![image](https://user-images.githubusercontent.com/47715249/55814265-cc305c00-5b0b-11e9-9b4c-946ac77f5304.png)

[2019-04-09 15:45] dillingham commented on #13
@krunaldevs set an attribute to the button

make::(‘icon-html’, ‘some-attribute’)

[2019-04-09 15:46] dillingham commented on #13
Also that’s not how you set events, check the readme.

[2019-04-09 16:08] krunaldevs commented on #13
I think this is the right way to use this Button

[code]

This works for me
Thanks @dillingham

[2019-04-10 09:31] Dontorpedo commented on #13
it could have been a compability issue with another package, don't know the exact steps to reproduce but after updating laravel and nova to newest versions, and removing packages etc.. (i also did something with routes)..
the nova button started working

[2019-04-14 11:51] krunaldevs opened #25 "Double Click Request Multiple Time"
Hello

I found one issue with this button. I don't someone faced this issue before or not.
When we double click on this button it's requesting multiple time.
Below is my sms sending queue button and when I double click this button It is sending SMS multiple time. It's requesting queue multiple time.

[code]
See below image I pressed double click on button and it's calling multiple time.

![image](

[2019-04-15 04:11] phoenixg opened #26 "How to pass parameter when confirm the execution?"
For example, I want to pass the `date`.

[2019-04-15 14:34] dillingham commented on #26
Do it in your listener

[2019-04-15 14:34] #26 closed

[2019-04-15 16:44] SerjoA opened #27 "is there a way to trigger action with fields? or just action?"

[2019-04-15 17:17] dillingham commented on #27
the button can trigger events, those events  can have listeners, those listeners can share the same code  your Nova actions are using. But currently there is not a way to run an action. Will add it eventually.

[2019-04-15 17:17] #27 closed

[2019-04-15 17:23] SerjoA commented on #27
first thanks for quick response, love the package
i would like to help you
you can point me to a reference on how to add an action fields to the button or re use an action class already made by me for example,
i saw your source code but i could not figure out on how to do that , or exactly, where to put changes
i saw you have a title and the body for the confirmation and i saw the vue code but cou

[2019-04-16 01:25] phoenixg commented on #26
@dillingham Listener can catch the `event`'s parameter, but it cannot change it to other value.

[2019-04-16 03:06] dillingham commented on #26
It’s the model, update it. Good luck 👍

[2019-04-16 03:21] phoenixg commented on #26
Hmmmmm, but I actually want an input box to manually change it on the web interface.

[2019-04-16 16:06] SerjoA commented on #26
its not possible at the moment

[2019-04-16 16:15] asilverstein opened #28 "Possible to stack/combine "event" and "index" methods"
I would like to do this:
[code]
Basically, navigate to the User index page **after** firing the event. It seems to be either-or in the current code. Perhaps there is another way?

Thanks.

[2019-04-17 02:45] phoenixg commented on #26
@SerjoA Is it possible in the future?

[2019-04-17 03:12] SerjoA commented on #26
iam not one of the mainteners
i am working on it also for my self but for the moment i dont know how much time it will take

[2019-04-17 03:14] SerjoA commented on #26
i thought about an api like this:
Button::make('Deposit')
     ->action(DepositAction::class)
     ->canSee(.....),

i think it will be better than say:
Button::make('Deposit')
     ->fields([
         Text::make('Amount'),
      ])
     ->canSee(.....),

in terms of reusability and etc
if and when ill finish ill submit pr

[2019-04-17 03:26] dillingham commented on #26
I don’t want to add resolving fields to this package. I did it in another package of mine and it’s been a headache.  I would merge in ->action() if it somehow relied on novas native handling of all that stuff. Ui / controller etc.

[2019-04-17 03:28] dillingham commented on #28
I’ll look into doing this

[2019-04-17 03:33] dillingham commented on #24
Yeah I do this with link. Just append an ID into the route ->link(“download/$this->id”)

[2019-04-17 03:33] #24 closed

[2019-04-17 03:36] dillingham commented on #22
Button::make(‘<span class=“fa fa-download” />’, 'download')

[2019-04-17 03:36] #22 closed

[2019-04-17 03:38] dillingham commented on #27
https://github.com/dillingham/nova-button/issues/18

[2019-04-17 03:40] dillingham commented on #18
My problem with this is that vue portal is used in nova for each index row to render delete modals. Adding all this markup per row of a table seems irresponsible lol

[2019-04-17 03:41] SerjoA commented on #26
ok, if i succeed with that i will submit pr
thanks for the package

[2019-04-17 03:43] SerjoA commented on #18
its a serious problem then

[2019-04-17 03:44] dillingham commented on #26
@phoenixg I didn’t understand your question originally. Here is a related thread https://github.com/dillingham/nova-button/issues/18

[2019-04-17 03:45] dillingham commented on #26
@SerjoA awesome, feel free to ask questions of brainstorm on that thread and I’ll try to help as much as I can

[2019-04-17 06:07] phoenixg commented on #26
@SerjoA Looking forward to

[2019-04-18 11:53] #25 closed

[2019-04-18 11:59] #20 closed

[2019-04-18 20:27] SerjoA commented on #19
you can do this in the following way:
in your nova directory of nova src code, there is a component:
in nova/resources/js/views/index.vue

add this:

Nova.$on('customActionExecution', () => {
            this.getResources()
         })

to the end of created hook

then, in the NovaButton.vue file of this pkg, add this in the handle click method, there is a call to method
this.post()

add this when

[2019-04-18 20:28] SerjoA commented on #19
remember, for doing this you need both nova button pkg to be compiled again, and nova src code to be compiled again

[2019-04-19 03:32] jobcerto commented on #22
Maybe this macro solves the problem? (Put in AppServiceProvider)
[code]

[2019-05-08 12:50] 4n70w4 opened #29 "Feature: add viaResource, viaResourceId, viaRelationship attributes to create() method"

[2019-05-12 07:14] loveyuxiao opened #30 "Button::make('Text')->index('App\Nova\User') with viaResourceId,viaRelationship,relationshipType,viaResource"
can do this?
Button::make('Text')->index('App\Nova\User',
"viaResourceId" => $model->id,
 "viaRelationship" => "Product",
"relationshipType" => "hasMany",
"viaResource" => "product-resources",
])

[2019-05-16 22:31] wemersonrv opened #31 "Feature request: allow change text for confirm cancel button"
Hey, great package! Congrats!

I would like to suggest a minor change:

99% or your buttons and text has options to be changed... the button text, the loading/success/fail text, the confirm title and message, etc... but the `cancel button text` in confirm dialog not...

Please add a option to change this text too.

Great!

[2019-05-29 18:26] otrsw opened #32 "Feature: Allow fire of action on resource"
Great component!  Adding lots of value to my nova apps.

Just thought I would request a possible feature/enhancement - it would be great if I could trigger an action from the button for the selected resource.
So something like:

    Button::make('Text')->action('App\Nova\Actions\SendUserMessage', $this->user_id)

It would allow the collection of fields via the normal Action workflow - so essential

[2019-06-21 10:46] loveyuxiao commented on #32
i need this function too

[2019-06-24 12:49] PrafullaKumarSahu commented on #32
@otrsw Any update on this?

[2019-06-25 08:16] MartinMorlog opened #33 "Let button post a form with hidden fields"
I need a button that submits a form with some hidden fields.

[code]
It might use the resource to fill the fields:

[code]
Is this something you would consider adding to your package?

[2019-06-25 14:04] dillingham commented on #33
Hey! Sorry but if you want  access to the resource when t he  button is  clicked.. you already have  it in the event / listener scenario. Not adding fields to  the button.. sorry.

[2019-06-25 14:04] #33 closed

[2019-07-01 09:40] InfinityWebMe commented on #18
@dillingham

It's not possible to execute the action with javascript trigger ?

* Uncheck all checkbox
* Check the checkbox of that row
* Select the action and launch him ?

[2019-07-17 03:57] 4unkur commented on #12
Would be fine at least have a possibility to pass query string:
[code]

Currently it's impossible to pass query params...

[2019-07-24 15:34] nikhilbaby2000 opened #35 "Feature Request: Actions Drop-down"
A drop down action list would be nice to have.
To get an basic idea on the list:

![image](https://user-images.githubusercontent.com/9396751/61806919-3b7d5200-ae56-11e9-842a-22db23e1b061.png)

PS: Please ignore the options in the image. My requirement was to add actions like:

Thanks. Great package :+1:

[2019-08-01 18:59] otrsw commented on #32
Hi @PrafullaKumarSahu - nope no feedback yet from @dillingham

[2019-08-01 20:30] dillingham commented on #35
Thanks! I feel like that is out of the scope of this package

[2019-08-01 20:30] #35 closed

[2019-08-01 20:30] dillingham commented on #32
Duplicate https://github.com/dillingham/nova-button/issues/18

[2019-08-01 20:30] #32 closed

[2019-08-01 20:31] dillingham commented on #19
Sorry that’s the only way I know how.

Open to a PR that doesn’t override components

[2019-08-01 20:31] #19 closed

[2019-08-09 08:35] hsharghi opened #36 "Run Nova action on button click"
NovaButton can be a very nice shortcut way to use Nova actions. Instead of selecting a row and selecting an action from the drop-down menu, just click on a NovaButton. So is it possible to run a pre-defined action by clicking a NovaButton?

[2019-08-16 16:34] codebykyle opened #37 "License?"
Hey there,
What is the license of this package? I found this very helpful and I really liked how you managed links here and was hoping to use something similar in my own package. Would this be alright?

[2019-08-16 17:01] dillingham commented on #37
Added the MIT license.. sounds good!

[2019-08-16 17:01] #37 closed

[2019-08-18 17:19] dillingham commented on #29
coming in next release

[code]

[2019-08-18 17:20] #28 closed

[2019-08-18 17:22] dillingham commented on #36
duplicate https://github.com/dillingham/nova-button/issues/18

I agree but just dont want to flood the markup with a bunch of form fields for each row

[2019-08-18 17:22] #36 closed

[2019-08-18 17:33] dillingham commented on #30
Added in [1.0.6](https://github.com/dillingham/nova-button/releases/tag/1.0.6)

[2019-08-18 17:33] #30 closed

[2019-08-18 17:34] dillingham commented on #29
Added in [1.0.6](https://github.com/dillingham/nova-button/releases/tag/1.0.6)

[2019-08-18 17:34] #29 closed

[2019-08-23 03:07] noxahti opened #39 "Modal css on Responsive Theme"
I installed nova-button as well as the ResponsiveTheme package. But I'm having problem with the css of the **modal**. Locally I changed the components IndexField.vue and DetailField.vue to add manually the **width: 100% !important** (and also added some margin top), as I saw in the css file of the ResponsiveTheme, and it worked perfectly.

But, obviously, when I deploy my app, it will be installed

[2019-08-23 03:43] #39 closed

[2019-08-23 03:45] dillingham commented on #39
@noxahti added a fix in 1.0.7.

[2019-08-23 03:51] dillingham commented on #39
For future reference: you can use `php artisan nova:theme` to add your own customizations without touching nova components

[2019-08-27 01:40] calebcook opened #40 "Feature Request: Trigger Nova Action with Resource"
Hey! Great package - fits really well into my Nova client interface.

Would love to have a way to have the button trigger a Nova Action and pass the resource through to that Action (so it would be the same as if I selected the single resource checkbox, and picked an Action from the select box.)
<img width="783" alt="Screen Shot 2019-08-26 at 9 35 41 PM" src="https://user-images.githubusercontent.c

[2019-09-02 07:12] gavinhewitt opened #42 "Some CSS classes are being attached twice?"
It may be my local setup but it looks like some of the classes are being attached twice.

![image](https://user-images.githubusercontent.com/1969103/64096240-7467eb00-cd61-11e9-838c-530a585fed88.png)

[2019-09-02 07:33] gavinhewitt opened #43 "Allow buttons to be left aligned"
By default buttons are aligned right, but that does not always make sense. Can we have the option to set the alignment?

[2019-09-02 14:20] dillingham commented on #43
@gavinhewitt yup I agree.. will add that later today

[2019-09-02 14:21] dillingham commented on #42
@gavinhewitt thanks I'll look into that

[2019-09-09 22:46] 949mac opened #46 "How about a redirect() method? Use case: redirect to view, url, or resource upon success"
Title says it all!

Great plugin, by the way.

[2019-09-10 14:02] vayurobins opened #47 "Placeholder text for not visible rows"
Hi.
It would be great if it was possible to have a placeholder text or icon that could sit in those rows where the button->visible = false. Or maybe even show the button as disabled. It looks so empty. :-)
![nova-button](https://user-images.githubusercontent.com/1386354/64620528-52670c00-d3e4-11e9-9d8e-004b449552f5.png)

[2019-09-10 14:51] dillingham commented on #47
@vayurobins I agree. Maybe that would be `->disabled(ttrue)` 🤔

[2019-09-10 14:56] vayurobins commented on #47
Yes, that could be nice and maybe with som text label for disabled buttons/styles.
Tailwind has a disabled button: https://tailwindcss.com/components/buttons/.

[2019-09-23 15:36] vayurobins opened #48 "Add form fields on confirm modal"
Hi.
This package is great and got me a long way. But now I unsure about how to create events on input fields in the confirm modal.
I have this on the Button field:
[code]
I the blade template I have added a checkbox input field, which I want the user to check before sending. So the Send button should be disabled until it is checked. Please see attached.
Is this possible? I'm not great at Vue. :-)

[2019-09-24 11:14] vayurobins commented on #48
Actually this would be much better:
https://github.com/dillingham/nova-button/issues/40

[2019-09-26 18:59] vayurobins commented on #48
I have been trying to work a bit on creating a custom button, that calls an action on submit. In the process, I have been playing a bit with the Nova Button and I have added some code, that makes the Index table rows reload/refresh after the modal has been submitted.
Please see this snippet: https://gist.github.com/vayurobins/28551f82ad70946df55242c3618f9864
Maybe something like this could be adde

[2019-10-15 19:47] funkdoobiest opened #50 "Only last added button is working on latest nova version (v2.4.0)"
When I add more than one button, only the latest added button will work. Clicking on other buttons have no effect. There is no error in console nor an xhr request will be fired.

[2019-10-16 01:47] dillingham commented on #50
Can you provide some code to examine

[2019-10-16 11:17] funkdoobiest commented on #50
Sure.

[code]

"Approve" button is not working, "Decline" is. If I remove "Decline", "Approve" works.

[2019-10-17 21:21] funkdoobiest commented on #50
More details: if I remove the "confirm", both buttons are working.
Seems like if two buttons with confirmation are on same page, only last is opening the modal.

[2019-11-01 12:27] rsiasat00 commented on #50
Confirming that this issue exists on Laravel Nova v2.5.

Only the last button of the last row can be clicked when using confirm().

[2019-11-07 19:50] MCKLtech opened #51 "Capturing User ID in the Event?"
Is it possible to send the current user to the event?

We'd like to track who clicked the button but I note the event payload doesn't contain the user, likewise, if we queue then we can't use auth().

[2019-11-07 19:53] dillingham commented on #51
You can make a custom event and use auth in the constructor

[2019-11-07 19:53] #51 closed

[2019-11-07 21:10] MCKLtech opened #52 "Button State - How to succeed or fail?"
I note the docs make mention of:

`Button::make('Remind User')->loadingText('Sending..')->successText('Sent!')`

How can I return a failure or success status from the Event / Listener?

[2019-11-07 21:21] dillingham commented on #52
An exception message will display if an error just like other nova error scenarios

[2019-11-07 21:21] #52 closed

[2019-12-04 11:50] PaulLawton227 commented on #50
Confirming that this issue exists on Nova 2.6.1

```Button::make('Quick Pay')->confirm('Are you sure?', view('partials.quickpay')->render())```

the confirm dialog does not show, except for the last row in the index list.

[2019-12-05 13:47] dillingham commented on #50
People are welcome to contribute a solution. I'll review

[2019-12-05 15:55] funkdoobiest commented on #50
Tried to find a solution, but my Vue-skills are not good enough ;-)

[2019-12-07 00:30] noxahti commented on #50
I updated to v2.8.0 today. Same thing is still happening.

[2019-12-13 22:55] vayurobins commented on #50
I have same issue in 2.8.0

[2019-12-18 14:55] bernhardh opened #53 "Button not showing on index with nova-mega-filter in use"
If someone is using the https://novapackages.com/packages/digital-creative/nova-mega-filter package, the button will not show up on index pages, since it has no value for the attribute property.

To fix it, you just can set it:

[code]

It would be great, if we could set it by a `setAttributeName` method or even as second `make` parameter, so that we can use method chaning and don't have to direct

[2019-12-18 16:28] bernhardh opened #54 "Allow to set title attribute to the button to show tooltip"
Allow to do something like that:

[code]

[2019-12-19 14:21] dillingham commented on #53
In retrospect I shouldn't have made the second param of `make` the ajax id
Maybe I should correct that on a major release

[2019-12-19 14:29] dillingham commented on #46
it navigates routes after ajax events via https://github.com/dillingham/nova-button/releases/tag/1.0.6

[2019-12-19 14:29] #46 closed

[2020-01-06 14:09] nilsE commented on #50
and still the same issue in 2.9.2 - could you please fix this?

[2020-01-06 15:16] dillingham commented on #50
@nilsE it’s open source. You can fix it too

[2020-01-10 11:08] MuhammadSulman commented on #31
@wemersonrv same problem, I have been facing. So, if you have figured out some solution than please share that here.

[2020-01-12 14:26] #53 closed

[2020-01-12 14:26] dillingham commented on #54
Merged for upcoming release

[2020-01-12 14:26] #54 closed

[2020-01-12 14:27] #48 closed

[2020-01-12 14:33] dillingham commented on #40
Nova now has action selects per row
https://nova.laravel.com/docs/2.0/actions/defining-actions.html#overview
`->showOnTableRow()`

[2020-01-12 14:33] #40 closed

[2020-01-13 09:56] didix16 opened #57 "How to make a toogle button with visual change"
Hello,
First of all thanks for make this project to allow make new buttons to table rows :).

I want to add a "favorite button" with star icon such that when I click on it, marks the resource as favorite in resource favorite relation and visually, the icon must change to represent that is marked as favorite. Also if I click again on favorite icon, It should unmark favorite relation and show initia

[2020-01-13 12:53] dillingham commented on #57
You can use two buttons and `->visible($this->is_favorited)`
You can also store svg icons and render as first param I believe
And maybe `->reload()` to show the other button automatically
Or `->successText($icon)` to avoid the reload maybe.

Haven't tried this, just speculating. Hope this helps!

[code]

Then you'd make a event / listener that attaches / detaches favorites

[2020-01-13 12:53] #57 closed

[2020-01-14 08:17] didix16 commented on #57
Thanks @dillingham. I'll try :+1:

[2020-01-14 09:35] didix16 commented on #57
Seems like it works but when successText is rendered , the new button has not a registered event, so I can't trigger again the toggle event.

I don't want to use reload because I want to toggle some of them at the same time.

Is there any chance to register again the event when successText is called?

Thanks in advance

[2020-01-14 15:25] dillingham commented on #57
No not currently. That would require a new feature. Something like a toggle method with two passed events to switch between. I’m open to a PR but don’t have time to do that myself. You’re other option is to fork this or use it as inspiration for your own custom field. Good luck!

[2020-01-17 08:10] didix16 commented on #57
Thanks @dillingham for the info!
I'll see what I'll do.

[2020-02-12 20:16] phpMuhammed opened #59 "Show Button on Create and Update forms"

[2020-02-14 15:43] nikreal opened #60 "How to customize button text based on record value"
I am going to add "Archive" button to set the status value of the record in resource table. I succeeded in saving status when click "Archive", but need to set the button text to "Archived" and disabled.
Is this possible with Nova button?
Thank you.

[2020-02-16 21:43] CaddyDz commented on #59
You would think changing public property `$showOnCreation` on [Button.php Line 22](https://github.com/dillingham/nova-button/blob/master/src/Button.php#L22) to true would solve the issue but it doesn't

[code]
Doesn't do anything, still only shows on Detail screen

[2020-02-24 09:03] Rootes opened #61 "Details when the link has Name-Name"
Hello there,
I am not  really a IT guy I work as a dancer doing my own website so good in then maybe is a stupid thing.
I have a  this a link that make error and I think is because I use a double name.

` Button::make($title)->detail( 'App\Nova\CrashCourse', $this->registration_id),`

The URL that nova create is **/nova/resources/crash-courses/ID** and give me an error 404.

Any Idea how I can cha

[2020-02-24 09:09] #61 closed

[2020-03-07 20:51] noxahti commented on #50
Any updates on this? I tried to find a solution but couldnt. My js skills are not good as well :(

[2020-03-30 15:24] marijnhurkens commented on #50
@dillingham Please review the pull request, thanks :)

[2020-04-27 11:09] inodesrl opened #65 "Error on Safari"
Hello,
buttons with external links don't seem to work on safari.

this is my example:
Button::make('Guardalo')
                ->link('https://www.google.com', '_blank')
                ->style('info'),

thanks,Marco,

[2020-04-28 05:35] chorton opened #66 "Button not showing on index or detail"
I've tried several variations of implementing the button from the documentation and the button just doesn't show.  Ever.

For example, Button::make('Text')->index('App\Nova\User'),  No button.  Nothing.

Not sure what else to provide here, but possibly this is not compatible with my version of Nova?  Version: v2.12.0

[2020-04-29 18:34] scottgrayson commented on #18
Button triggering an action would be useful on the `Detail` page as well.

There would be no "flooding the markup" problem on the detail page.

Maybe that could be implemented first? 🙏

[2020-05-04 10:57] skoyah commented on #50
What's the current state of this issue? It seems I have the same problem on an app I'm building.

[2020-05-23 10:18] Paulsky opened #67 "Create link in resource table row"
Thank you for this package!

The only thing I want to accomplish, is a link in my resource table, which looks exactly the same as the other actions (I really don't understand why this is so hard to do in Nova https://github.com/laravel/nova-issues/issues/786). I don't need callbacks, success messages, error messages or loading messages. Just a link that has the same design and size as the other de

[2020-06-29 22:02] camaech commented on #67
`Button::make($this->project->company->name)->detail('App\Nova\Company', $this->project->company->id),`

[2020-09-24 11:08] bernhardh commented on #59
Yeah, its a pitty, that this doesn't work.

@dillingham Any plans to make it work?

[2020-09-24 11:36] CaddyDz commented on #59
You can use/check [my fork](https://github.com/CaddyDz/nova-button), I didn't have time to turn it to a proper PR candidate
// @bernhardh

[2020-09-25 08:20] bernhardh commented on #59
@CaddyDz Thanks for feedback. Maybe a stupid question, but how can I use your package? Its not on packagist, right?

[2020-09-25 10:17] CaddyDz commented on #59
@bernhardh almost correct, replace `"type": "git"` by `"type": "vcs"` and make sure to place `master` as the version

[2020-09-25 13:17] bernhardh commented on #59
Thats not working. I think the reason is, that the dillingham master branch is "newer" then yours. He updated it 9 days ago. But thanks for your help, I have done another solution with the `CustomEditHeader.vue`

[2020-09-26 01:09] dillingham commented on #59
@bernhardh sorry I've been slammed.. I'll try to get this added soon

[2020-10-05 08:09] bernhardh commented on #59
@dillingham: no problem.

I have now created a pull request with that feature plus moved code logic to mixin

[2020-10-06 04:10] SerjoA opened #73 "hi, can you plz delete this pull r"
**https://github.com/dillingham/nova-button/pull/41**

[2020-10-06 04:24] SerjoA commented on #73
it has been delete by github thnx

[2020-10-06 04:24] #73 closed

[2020-10-18 20:54] goldmerc opened #74 "Using buttons in relationship fields that reference the parent"
Hi, if I have a HasMany or BelongsToMany relationship field, is there any way I can know the details of the parent?

So, let's say I have a Users resource with a hasMany relationship field to BlogPosts. When I view a user, I can see a table of their BlogPosts. I can use a custom resource for this...

HasMany::make('BlogPosts', null, 'BlogPostsListOnUsersDetailPage')

In the resource BlogPostsListO

[2020-10-19 08:32] goldmerc commented on #74
I realised I can get what I want from the request and pass it through to a custom event using the button key. Bit hacky but works...

[code]

[2020-10-19 08:38] goldmerc commented on #54
It would be nice if this mimicked the behaviour of the tooltips on the view, edit & delete buttons

[2020-10-20 01:00] cyrilbensonyu opened #75 "Confirm does not show dialogue box"
`           Button::make('Archive', 'user-archive')
                ->style('danger-outline')
                ->confirm('Are you sure you want to archive this user?')
                ->reload(),
`

I'm using this line of code and confirm dialogue does not show up whenever I click the button. I'm using the latest Laravel Nova version (3.12).

[2020-12-06 09:12] nilsE commented on #75
...same here. confim() works on the detail form, but not on index

[2020-12-09 09:46] RomkaLTU commented on #75
It works but only on the last entry, seems JS bug.

[2021-01-05 13:57] bernhardh commented on #59
@dillingham: Would be really nice if you could merge this?

[2021-01-05 14:04] #74 closed

[2021-01-05 14:05] dillingham commented on #67
There is a "link" style. "Primary" looks like a button.

[2021-01-05 14:05] #67 closed

[2021-02-06 21:37] kevinnivek commented on #59
@CaddyDz I just integrated your fork to replace this package and I am still not seeing the button on create/update forms

`Button::make('BUTTON')->link('https://nova.laravel.com'),`

Am I missing something?

[2021-03-15 15:32] OthmanAlseagh commented on #75
@dillingham did you solve this issue

i have the same

when i use confirm() , only the last button can be clickable

[2021-06-17 13:50] dalmarcolucas commented on #75
same problem here, only the last button show the confirm dialog.

[2021-07-27 12:43] stardothosting opened #91 "Button on resource with custom indexQuery with grouped results failed"
Hello,

I have built a custom resource page and want to attach your button to link to a controller (or anywhere really). I am getting a 404 not found error because resourceId is null :

`/nova-vendor/nova-button/product-locator/null/text 404 (Not Found)`

resourceId is null because each row on this resource is a group of a bunch of rows combined together (i.e. 10 Cars of this model).

Is there a w

[2021-07-27 12:47] stardothosting commented on #91
Right now if I change this line in src/Http/Controllers/ButtonController.php from :

`$resource = $request->findModelQuery()->firstOrFail();`

to :

`$resource = $request->findModelQuery()->first();`

The issue doesnt happen anymore

[2021-07-28 15:37] piteurstudioislam commented on #75
did you solve the problem

[2021-07-28 15:43] cyrilbensonyu commented on #75
@piteurstudioislam Yes, I forked this repo and created my own package just to fix the bug.

[2021-07-28 15:51] piteurstudioislam commented on #75
can yopu give it to me

[2021-07-29 09:09] piteurstudioislam commented on #75
@cyrilbensonyu  cAN YOU GIVE The package

[2021-07-29 10:17] cyrilbensonyu commented on #75
sorry, I did not made it public

[2021-07-29 10:21] piteurstudioislam commented on #75
Did you mad it now @cyrilbensonyu

[2021-08-05 19:06] atmediauk opened #92 "Programmatically disable button state"
Hello,

Is it possible to disable button state programmatically as it looks out of place for some types of buttons.

The normal behaviour in Nova for an edit resource button or a link button is to simply load the page. With the nova-button plugin it will first show a loading/ success message and then load the page which makes the UI feel disjointed.

Is there a way to optionally disable this? For

[2021-08-11 15:29] stardothosting commented on #75
@cyrilbensonyu would love it if you could share this package - this is an open source project and lots of people depend on it.

[2021-08-11 17:39] stardothosting commented on #75
@piteurstudioislam The fix in another thread referencing a forked pull request worked for me : https://github.com/qikker-online/nova-button/commit/dc984708eecbaa887d4455828135912114cf8b41

[2021-09-13 06:19] dillingham opened #94 "Maintainer"
Does anyone want to maintain this package? I haven't used Nova in like a year.

Otherwise, I may abandon / archive it, not planning on adding more features.

[2021-09-13 06:20] #94 closed

[2021-09-21 15:50] #12 closed

[2021-09-21 15:50] #7 closed

[2021-10-31 20:51] anubhav217 opened #96 "Left Aligned button needs to be reiterated carefully"

[2022-01-04 10:18] firewall004 opened #97 "Feature to add column heading"
# Issue

Not able to add title/heading for the button column

[2022-05-20 16:45] sietse85 opened #104 "For anyone seeking NOVA4 support"
https://github.com/sietse85/nova-button